<header>
   {{>home/nav}}
</header>
<section class="main-slogan">
   <div class="container">
      <h1>{{h1}}</h1>
   </div>
</section>
<div class="container">
   {{#if flash}}
      <div class="alert alert-dismissible alert-{{flash.type}}">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
         <strong>{{flash.intro}}</strong> {{{flash.message}}}
      </div>
   {{/if}}
   <div class="auth">
      <form class="form-horizontal" action="" method="post">
         <input type="hidden" name="_csrf" value="{{_csrfToken}}">
         <div class="form-group{{#if repeatData.errEmail}} has-error{{/if}}">
            <label for="inputEmail3" class="col-sm-4 control-label">Почтовый ящик</label>
            <div class="col-sm-6 col-lg-4">
               <input type="email" name="user[email]" class="form-control" id="inputEmail3" placeholder="Email" {{#if
  email}}value="{{email}}"{{/if}}>
            </div>
         </div>
         <div class="form-group{{#if repeatData.errPass}} has-error{{/if}}">
            <label for="inputPassword3" class="col-sm-4 control-label">Введите новый пароль</label>
            <div class="col-sm-6 col-lg-4">
               <input type="password" name="user[pass]" class="form-control" id="inputPassword3" placeholder="Password" {{#if repeatData}}value="{{repeatData.pass}}"{{/if}}>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
               <button type="submit" class="btn btn-primary btn-margin">Отправить новый пароль</button>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
         </div>
      </form>
   </div>
</div>
{{>home/footer}}